.sri-group,
.search-result {
    background-color: #17191e;
    border-radius: 12px;
    margin-bottom: 1.3rem;
}

.scene {
    background-color: #17191e;
    border-radius: 12px;
    padding-top: 27px !important;
    margin-bottom: 0px !important;
}

.search-result {
    padding-top: 1rem;
    padding-right: 10px;
    padding-bottom: 1.1rem;
    padding-left: 32px;
    margin-bottom: 1.3rem;
}

._0_right_sidebar._0_provider-content {
    background-color: #17191e;
    border-radius: 12px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0px;
}

.search_mode_toggle i.oSea,
._0_d_info_ranking.k_ui_btn_group
.search_mode_box_s input:checked + a.k_ui_btn,
._0_sri-w-highlight
.search_mode_box_s a.searchResultAnswer,
.search_mode_box_s
._0_d_info_ranking.k_ui_btn_group input:checked + a.k_ui_btn,
.search_mode_box_s
._0_sri-w-highlight a.searchResultAnswer,
.search_mode_box_s a.--active,
.search_mode_box_s a._0_sri-w-highlight.box,
.search_mode_box_s a.box:hover,
#searchFormSubmitBtn {
    background-color: #58a6ff;
}

.btn.--yellow {
    border: 1px solid #58a6ff;
}

.comment {
    background-color: #090c10;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

.code.copyToClipText {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 2px solid #090c10;
}

.scene {
    padding: 1rem;
}

.__sri-title,
.__sri_title_Link {
    color: #7799e5;
}

body,
html,
.mob,
#searchForm,
.sidebar-filter-nav,
.app-content-box._0_content-bay,
.app-content-box.top-panel-box,
.landing_cat_buttons,
._0_k_ui_dropdown
.k_ui_dropdown.__basic.__transparent {
    background-color: #000000;
}

#searchForm {
    border-radius: 50%;
}

.widgetContent {
    background-color: #0d0e11;
    border-radius: 12px;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 2.2rem;
    padding-left: 1rem;
    margin-bottom: 1.3rem;
}

.widgetContent
.widgetItems
.widgetItem,
.box,
.videoResultInfo,
.widget-body,
.widget-header,
.crisp-edges._0_img_src,
.card_body {
    background-color: #1a1c22;
}

.search-input-container,
.search-form {
    box-shadow: 0px 1px 30px rgb(0 0 0 / 35%);
    border: none;
}

.search-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-form-icons {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.videoResultRight,
.videoPublished,
.related-items a,
.weather_days_box {
    background-color: #17191e;
}

.search-form,
.search-input,
.search-form-icons,
.spt {
    background: #111317;
}

.app-header.app-content-box {
    background-color: #111317;
}

.auto_suggestions {
    background-color: #090c10;
}

.__srgi {
    padding-right: 10px;
    padding-left: 17px;
    padding-bottom: 1.1rem;
}

.podcast_result._0_SRI {
    background-color: #17191e;
    border-radius: 12px;
    padding-top: 1rem;
    padding-right: 10px;
    padding-bottom: 1.1rem;
    padding-left: 26px;
    margin-bottom: 1.3rem;
}

.weather_day {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.top_podcasts_box.freeScroller {
    background-color: #0d0e11;
    border-radius: 12px;
    padding-top: 26px;
    padding-right: 10px;
    padding-bottom: 1.1rem;
    padding-left: 26px;
    margin-bottom: 1.3rem;
}

._0_results_summary_box.__0_show,
.widget_weather {
    background-color: #0d0e11;
    border-radius: 12px;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-bottom: 1.3rem;
}

#expandWikipediaContent {
    background-color: #0d0e11;
    border-radius: 12px;
}

.cheatsh {
    padding-bottom: 55px;
}

.show_more,
.show_less {
    background-color: #0d0e11;
    border-radius: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
	margin-top: 5px;
}

#conversions,
#myip,
.widgetContent.clearfix {
    background-color: #0d0e11;
}
